html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Mobile First */
/* ---------------------------- */

/* ------------- Start General Body --------------- */
body {
  background-color: #070035;
  color: white;
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  display: grid;
}

/* ------------- End General Body --------------- */

/* -------------Start Header & Links --------------- */

header {
  display: flex;
  max-height: 150px;
  margin: 0.5em;
  /* justify-content: space-between; */
}

.personal-brand {
  display: flex;
  align-items: center;
}

.brand-text {
  margin-left: 0.75em;
  line-height: 1.75em;
}

.page-title {
  margin: 0;
  font-size: 1.75em;
  font-weight: bold;
}

.page-author {
  margin: 0;
  font-size: 1.25em;
}

nav {
  margin-left: 4.5em;
}

.nav-items {
  align-items: flex-end;
  list-style: none;
  justify-content: flex-end;
  text-align: end;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

a:link {
  color: burlywood;
}

a:visited {
  color: burlywood;
}

a:hover {
  text-decoration: underline;
  color: chocolate;
}

a:active,
.question-link:active {
  color: gold;
}

/* ------------- End Header & Links --------------- */

/* ------------- Start Main --------------- */
main {
  display: flex;
  flex-direction: column;
}

/* ------------- Start Banner --------------- */
.banner-top,
.banner-bottom {
  background: #2e2cac;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;
}

.banner-top {
  background-image: url(../img/banners/banner_top.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20em;
}

.banner-bottom {
  height: 10em;
}

.overlay:before {
  content: " ";
  z-index: 1;
  display: block;
  position: absolute;
  height: 20em;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.overlay * {
  position: relative;
}

h1 {
  font-size: 2.5em;
  z-index: 2;
}
/* ------------- End Banner --------------- */

/* ------------- Start Main Container --------------- */
.main-container {
  display: flex;
}

.content {
  background-color: whitesmoke;
  color: #070035;
}

/* ------------- End Main Container --------------- */

/* ------------- End Main --------------- */

/* ------------- Start Images --------------- */
img {
  height: 100%;
  width: auto;
}
.personal-brand img {
  max-height: 4.375em;
}
.skill-card img,
.social-media img {
  max-height: 2.75em;
}
.info-image img {
  max-height: 20em;
}
.project-card figure {
  /* border: 0.5em whitesmoke solid;
  display: flex;
  margin: 2em;
  padding: 0.25em; */
  max-width: 15em;
  overflow: hidden;
}
.project-card img {
  width: 100%;
  height: auto;
}
/* ------------- End Images --------------- */

/* ------------- Start Footer --------------- */

/* ------------- End Footer --------------- */

/* ---------------------------- */

/* Desktop */
@media screen and (min-width: 800px) {
  /* -------------Start Header & Links --------------- */
  header {
    margin: 2.5em;
    justify-content: space-between;
  }
  .brand-text {
    margin-left: 2.5em;
    line-height: 2.5em;
  }

  .page-title {
    font-size: 2.25em;
  }

  .page-author {
    font-size: 1.75em;
  }

  nav {
    width: 50%;
  }

  .nav-items {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
  }

  .nav-item {
    font-size: 1.5em;
    font-weight: bold;
  }
  /* -------------End Header & Links --------------- */

  /* ------------- Start Main --------------- */
  /* ------------- Start Banner --------------- */
  .banner-top {
    height: 25em;
  }

  .banner-bottom {
    height: 12.5em;
  }

  .overlay:before {
    height: 25em;
  }
  .overlay * {
    position: relative;
  }

  h1 {
    font-size: 3em;
  }
  /* ------------- End Banner --------------- */
  /* ------------- Start Main Container --------------- */
  .main-container {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
  }
  /* ------------- End Main Container --------------- */
  /* ------------- End Main --------------- */

  /* ------------- Start Images --------------- */
  img {
    height: 100%;
    width: auto;
  }
  .personal-brand img {
    max-height: 4.375em;
  }
  .skill-card img,
  .social-media img {
    max-height: 4em;
  }
  .info-image img {
    max-height: 25em;
  }
  /* ------------- End Images --------------- */

  /* ------------- Start Footer --------------- */

  /* ------------- End Footer --------------- */
}
